body{
    margin: 0;
    padding: 0;
}
/*        SECTION ONE      */
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
ul{
    display: flex;
    gap: 20px;
    margin: 10px;
    list-style: none;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sectionOne{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-bottom: 100px;
}
.header{
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    color: #f9faf8;
}

.info > h1{
    margin: 0;
    color: #e5e7eb;
}
.info > p{
    margin-top: 0;
    color: #e5e7eb;
}
.info{
    width: 200px;
}
.mainContent{
    display: flex;
    justify-content: space-evenly;
    gap: 55px;
    margin-top: 30px;
}
#image{
    background-color: aqua;
}
#logo{
    margin: 15px 40px 0;
    font-size: 24px;
}
#buttonOne{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 3px 15px;
    border-radius: 7px;
}
/*       SECTION TWO              */
.sectionTwo{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
}
.cards{
display: flex;
gap: 30px;
}

/* SECTION THREE */
.sectionThree{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}
.sectionThree > p{
    width: 900px;
    margin-bottom: 0;
    font-size: 36px;
}

/* SECTION FOUR */
.sectionFour{
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin: 50px auto;
    background-color: #3882f6;
    border-radius: 5px;
}
.sectionFour > h2{
    color: #f9faf8;
    margin-bottom: 0;
}
.sectionFour > p{
    color: #e5e7eb;
    margin-top: 0;
}
#buttonTwo{
    align-self: center;
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border-color: #f9faf8;
}

/* Footer */
.footer{
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
}